* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gros-titre{
  background-color: black;
}

.fond-nav{
  background-color: #000;
}

/* couleur menu deroulants home */
h4 a{
  color: #ffffff;
}
h4 a:hover{
  color: rgb(0, 0, 0);
  /* -webkit-text-stroke-color: rgb(215, 187, 116);; */
  /* background: rgba(255, 255, 255, 0.3); */
}
/* body {
  
  background-color: #eeeeea;
} */

li a{
  text-decoration: none;
  color: white;
  font-size: large;
}


li a:hover{
  /* text-decoration: none; */
  color: rgb(215, 187, 116);
}

#logo{
  width: 6em;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.divider {
  height: 700px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 10px 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description p {
  /* color: #b0b0ba; */
  margin-top: -10px;
  font-size: 30px;
  font-family: "Gochi Hand", cursive;
}

.description h4 {
  text-transform: uppercase;
  margin-top: 25px;
  font-size: 40px; 
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}


.card[for="c1"] {
  background-image: url('/styles/images/coffee-compress.jpg');
  background-position: center;
}
.card[for="c2"] {
  background-image: url('/styles/images/tech-compress.jpg');
  background-position: center;
}
.card[for="c3"] {
  background-image: url('/styles/images/light-compress.jpg');
  background-position: center;
}
.card[for="c4"] {
  background-image: url('/styles/images/echelle-compress.jpg');
  background-position: center;
}

/* *****presentation******** */
#profil{
  filter: blur(2px);
}
#profil:hover{
  filter: none;
}

.text-parcours:hover{
  background: rgba(200,123,0,0.3) ;
  font-weight: 600;
}
.text-interets:hover{
  background: rgba(103, 197, 228, 0.3) ;
  font-weight: 600;
}
.text-qualites:hover{
  background: rgba(120, 235, 183, 0.3) ;
  font-weight: 600;
}
.text-langues:hover{
  background: rgba(235, 120, 203, 0.3) ;
  font-weight: 600;
}

.parcours{
  background-color: rgb(246, 195, 102);
}
.parcours:hover{
  background-color: rgb(245, 119, 73);
  color:#fff;
}
.interets{
  background-color: rgb(171, 225, 241);
}
.interets:hover{
  background-color: rgb(144, 144, 233);
  color: #fff;
}
.qualites{
  background-color: rgb(157, 242, 213);
}
.qualites:hover{
  background-color: rgb(0, 255, 195);
  color: #fff;
}
.langues{
  background-color: rgb(245, 145, 245);
}
.langues:hover{
  background-color: rgb(189, 41, 189);
  color: #fff;
}

/* *****technologies************** */

.progress-hover:hover{
  font-weight: bold;
  /* color: #fff;
  background-color: rgb(189, 216, 221); */
}

.langage-text a{
  text-decoration: none;
  color: #000;
}
.langage-text a:hover{
font-weight: bold;
}

/* *******page expériences ****** */

.fond{
  background-image: url("/styles/images/07.jpg");
}
.fond-presentation{
  background-image: url("/styles/images/6272.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
}

.back{
  background-color: rgba(158, 165, 167, 0.3);
}

.titre-card, .text-card{
  color: black;
}

.fondu{
  animation: fondu 2s linear  ;
}

@keyframes fondu{
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 1;}
}

/* *******responsive menu burger********* */
@media (max-width:1000px) {

  li a{
    float: right;
  }

  #logo{
    width: 10em
  }
  
} 

/* **********diplomes keyframes********** */

.hand{
  max-width: 400px;
  margin-top: -25px;
  animation: hand 2s ease-in-out infinite alternate forwards;
}

@keyframes hand{
  0%{transform: translateY(10%) scale(.8)}
  50%{transform: translateY(5%) scale(.9)}
  100%{transform: translateY(10%) scale(.8)}
}


.salut{
  /* margin-top: 400px; */
  /* background-color: #ffdada; */
  /* width: 300px; */
  padding: 10px;
  animation: salut 3s  ;
}

@keyframes salut{
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 1;}

  from{
    margin-left: 0%;
    width: 0%;
  }
  to{
    width: 100%;
  }

}